/* Styles for website body */
*{
  box-sizing: border-box;
}
container-text center p{
  color: black;

}
jumbotron {
  background-color: #e9ecef;
}
h1 {
  background-color: #e9ecef;
  color: #2F4F4F;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #F5F5F5;
}

header h1{
  background-color: #BAC4C8;
}
header p{
  color: black;

}

.greybox{
  width: 100%;
  background-color: #708090!important;
  color: #fff;
  padding: 8px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: #BAC4C8;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
.footnote{
  /* margin: 0 auto; */
  /* width: 850px;
  font-family: "Arial", sans-serif; */
  font-size: 12px!important;
  font-style: italic!important;
  /* padding-bottom: 40px; */
}

/* Styles for D3 map */
#map{
  display: block;
  margin: auto;
}
#slider{
  display: block;
  margin: auto;
}
.map-container{
  margin: 0 auto;
}
.feature {
  fill: rgba(255,255,255,0.01);
  stroke: gray;
  stroke-width: 1px;
  cursor: pointer;
}

.counties {
  fill: rgba(255,255,255,0);
  stroke: gray;
  stroke-width: 0px;
}

.shootings {
  fill: red;
  stroke: black;
  stroke-width: 0.2%;
  opacity: 0.7;
}

.tooltip {
  position: absolute;
  text-align: left;
  color: white;
  width: auto;
  height: 60px;
  padding: 8px;
  font: 0.75em sans-serif;
  background: #39393a;
  border: 0px;
  /* border-radius: 8px; */
  pointer-events: none;
}

.tooltipShooting {
  position: absolute;
  text-align: left;
  color: white;
  width: auto;
  height: 75px;
  padding: 8px;
  font: 0.75em sans-serif;
  background: #7F2626;
  border: 0px;
  /* border-radius: 8px; */
  pointer-events: none;
}

/* Slider styling adapted from Mike Bostock's Drag Slider */
/* https://bl.ocks.org/mbostock/6452972 */
.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.svg_graph{
  font-family: sans-serif;
}

.line {
  fill: none;
  stroke: #999999;
  stroke-width: 5px;
}

.selected {
  stroke: #EF5285;
}

/* Styles for map legend items */
.dot {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.7;
}
.legendNote{
  font: 0.6em sans-serif;
}

